# System files
.DS_Store
Thumbs.db

# Logs
*.log
rabbitmq/receive.log

# Python env
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Composer / PHP
vendor/

# OS junk
*.swp
*.swo

# Apache
*.pid

# Do NOT commit your response_status file
response_status.json

# Do NOT commit session data
*.sess

# Ignore backup/passive flag
.passive
